@font-face {
    font-family: 'GT Sectra Fine Book';
    src: url('GTSectraFine-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Sectra Fine Book';
    src: url('GTSectraFine-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

